*{ 
  margin:0; 
  padding:0; 
  box-sizing: border-box; 
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif; 
}

body{ 
  background: #1e1e1e; 
  color: #f1f1f1; 
  display: flex; 
}

.side-bar{ 
  position: fixed; 
  background: #333; 
  width: 200px; 
  height: 100%; 
}

.side-bar h2{ 
  text-align: center; 
  color: #fef; 
  margin: 2rem 0; 
}

.side-bar ul{ 
  list-style: none; 
}

.side-bar ul li{ 
  margin: 2rem 0; 
  padding:0.5rem; 
  cursor: pointer; 
  color: #1ed; 
}

.side-bar ul li i{ 
  margin-right: 10px; 
}

.main-content{ 
  margin-left:200px; 
  width: 100%; 
  padding: 2px 20px ; 
}

h1{ 
  margin-bottom:1.2rem; 
  font-size: 2.5rem; 
}

.playlist-grid{ 
  display: grid; 
  grid-template-columns:repeat(auto-fit, minmax(180px, 1fr)); 
  padding: 0.5rem;
  gap:1rem; 
}

.playlist-card{ 
  background: #333; 
  padding: 1rem; 
  border-radius: 21px; 
  position: relative; 
  overflow: hidden; 
  text-decoration: none; 
  color: inherit; 
}

.playlist-card img{ 
  width: 100%; 
  height: 180px; 
  object-fit: cover; 
}

.playlist-tittle{ 
  margin-top: 1.5rem; 
  font-size: 1rem; 
  font-weight: 600; 
}

.play-button { 
  position: absolute; 
  top: 10px; 
  right: 10px; 
  background: #1eb; 
  color: #fff; 
  border: none; 
  border-radius: 50%; 
  padding: 10px; 
}

.active-play{
display:none;
position: fixed;
top:0; left:0;
height:100% ; width:100%;
background: rgba(0, 0, 0, 0.6);
justify-content: center;
align-items: center;
}

.active-play:target{
  display: flex;
}

.content-play{
  border-radius: 12px;
  background: #333;
  position: relative;
  padding: 2rem;
  text-align: center;
}

.content-play img{
  border-radius: 12px;
  margin-bottom: 1rem;
  height: 120px;
  width:120px;
}

.play-btn{
  top: 10px; 
  right: 10rem; 
  background: #1ed; 
  color: #fff; 
  border: none; 
  border-radius: 50%; 
  padding: 1rem; 
  cursor: pointer;
  font-size: 28px;
}

.close{
  position:absolute;
  color:#fff;
  font-size: 24px;
  text-decoration: none;
  top: 10px;
  left:15px;
}

/*Responsive sidebar*/

@media(max-width: 790px) {
  .side-bar{
    width: 70px;
    padding:1rem 0.5rem;
  }
  
  .side-bar h2{
    font-size: 1rem;
  }
  
  .side-bar ul li{
    font-size: 0;
  }
  
  .side-bar ul li i{
    font-size: 1rem;
  }
  
  .main-content{
    margin-left: 70px;
  }
}
